.about__container {
    display: grid;
    grid-template-columns: 35% 53%;
    gap: 12%;
}

.about__portrait {
    height: fit-content;
    max-height: 40rem;
    border: 0rem solid var(--color-white);
    transition: var(--transition);

    &:hover {
        border: 0rem solid var(--color-black);
        border-width: 2rem;
        border-radius: 50%;
    }
}

.about__cards {
    margin: 1rem 0 1.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.card.about__card {
    position: relative;
    text-align: center;
    overflow: hidden;
    opacity: 0.85;
    color: var(--color-black);
    background: var(--color-light);
    z-index: 1;

    &:hover {
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.45);
        border-color: var(--color-primary);
        background: var(--color-light);
    }
}

/* Pseudo-elements for hover animation */
.card.about__card::before,
.card.about__card::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: var(--color-primary); /* semi-transparent overlay */
  top: 0;
  left: 0;
  z-index: 0; /* behind card content */
  transform: translate(100%, -100%);
  transition: all 0.6s ease;
}

.card.about__card::after {
  transform: translate(-100%, 100%);
}

/* Hover triggers slide */
.card.about__card:hover::before,
.card.about__card:hover::after {
  transform: translate(0, 0);
}

.card.about__card > * {
  position: relative;
  z-index: 1;
}

.about__card-icon {
    font-size: 1.3rem;
    color: var(--color-black);
    border-radius: var(--border-radius-3);
    width: fit-content;
    margin-inline: auto;
    padding: 0.6rem;
    display: flex;
    align-items: center;
    transition: var(--transition);
}

.card.about__card:hover .about__card-icon {
    color: black;
    background: var(--color-primary);
}

.card.about__card:hover h5 {
    color: black;
    /* mix-blend-mode: difference; */
}

.card.about__card:hover p {
    color: white;
    mix-blend-mode: difference;
}

.card.about__card h5 {
    margin: 1rem 0;
}

.about__right p {
    margin-bottom: 0.8rem;
}

.about__right .btn {
    margin-top: 2.5rem;
}

/* MEDIA QUERIES (tablets) */
@media screen and (max-width: 1024px) {
    .about__left {
        display: none;
    }

    .about__container {
        grid-template-columns: 1fr;
    }

    .about__right h2 {
        text-align: center;
    }

    .about__right .btn {
        margin-left: auto;
        margin-right: auto;
    }
}

/* MEDIA QUERIES (phones) */
@media screen and (max-width: 600px) {
    .about__cards {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .card.about__card:last-child {
        grid-column: 1 / -1;
        justify-self: center;
        width: 50%;
    }

    .about__right .btn {
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto;
    }

    h2.marathon {
        font-size: 3rem;
    }
}
