.contact__container {
    width: fit-content;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.contact__container a {
    width: 5rem;
    aspect-ratio: 1/1;
    color: black;
    background: var(--color-primary);
    display: grid;
    place-items: center;
    font-size: 2rem;
    border: 2px solid transparent;
    border-radius: 50%;
}

.contact__container a:hover {
    background: transparent;
    border-color: var(--color-primary);
    color: var(--color-primary);
    transform: translateY(-0.5rem);
}

.contact__logo {
    width: 15rem;
    margin: auto;
    padding-right: 1rem;
    padding-bottom: 1rem;
    filter: drop-shadow(0 0 40px rgba(255, 255, 255, 0.5));
    transition: all 0.3s ease;

    &:hover {
        animation: playful-shake 0.7s ease-in-out;
        transform: skew(10%);
        filter: drop-shadow(0 0 40px var(--color-primary));
    }
}

@keyframes playful-shake {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(5deg);
    }
    75% {
        transform: rotate(-2deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* MEDIA QUERIES (phones) */
@media screen and (max-width: 600px) {
    .contact__container {
        gap: 1.5rem;
    }

    .contact__logo {
        filter: drop-shadow(0 0 15px rgba(255, 255, 255, 0.5));

        &:hover {
            filter: drop-shadow(0 0 15px var(--color-primary));
        }
    }
}
