header {
    margin-top: 5rem;
    height: calc(100vh - 5rem);
    display: grid;
    place-items: center;
    background: var(--color-white);
    background-size: cover;
    background-image: url("/src/assets/photography/waves.jpg");
    background-color: rgba(208, 231, 76, 0.6);
    transition: var(--transition);
}

#about,
#roles {
    padding-bottom: 13rem;
}

.header__title {
    flex-direction: column;
    gap: 1rem;
}

.header__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.header__profile {
    width: 18rem;
    height: 18rem;
    border: 1px solid black;
    border-radius: 9rem 9rem 9rem 9rem;
    overflow: hidden;
    margin-top: 3rem;
    margin-bottom: 1rem;
    z-index: 2;
    transition: var(--transition);

    &:hover {
        border: 0rem solid var(--color-black);
        border-radius: 50%;
        animation: spectrum-spin 2s linear infinite;
    }
}

@keyframes spectrum-spin {
    0% {
        filter: hue-rotate(0deg);
    }
    25% {
        filter: hue-rotate(90deg);
    }
    50% {
        filter: hue-rotate(180deg);
    }
    75% {
        filter: hue-rotate(270deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

div.header__profile img {
    transition: all 10s;
}

.btn.sm.header__title {
    width: 20rem;
    border: none;
    background: transparent;
}

.btn.sm.header__title:hover {
    transform: translateY(-0.5rem);
}

.header__container p {
    width: 35rem;
    text-align: center;
    margin: 0 0 1.5rem;
}

.header__cta {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.streak {
    position: absolute;
    background: hsl(var(--primary-hue), 0%, 100%);
    width: 300vw;
    height: 50vh;
    mix-blend-mode: difference;
    top: 300px;
    rotate: 45deg;
}

.up-ticker span {
    font-family: Marathon;
    color: var(--color-primary);
}

.down-ticker span {
    font-family: Marathon;
}

.up-ticker-wrap {
    position: absolute;
    white-space: nowrap;
    width: 100vw;
    height: 160vh;
    top: -12vh;
    left: -50%;
    pointer-events: none;
}

.up-ticker {
    letter-spacing: 1;
    opacity: 0.8;
    font-size: 25px;
    font-weight: 300;
    mix-blend-mode: difference;
    /* top: -20%; */
    animation: up-tick 100s linear infinite;
}

@keyframes up-tick {
    from {
        transform: translateX(150%);
    }
    to {
        transform: translateX(-100%);
    }
}

.down-ticker-wrap {
    position: absolute;
    white-space: nowrap;
    width: 100vw;
    height: 160vh;
    top: 59%;
    left: -50%;
    pointer-events: none;
}

.down-ticker {
    letter-spacing: 2;
    opacity: 0.8;
    font-size: 25px;
    font-weight: 300;
    mix-blend-mode: difference;
    animation: down-tick 60s linear infinite;
}

@keyframes down-tick {
    from {
        transform: rotate(45deg) translateX(-60%);
    }
    to {
        transform: rotate(45deg) translateX(150%);
    }
}

.header__socials {
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    mix-blend-mode: difference;
    padding: 2rem 1rem;
    gap: 1rem;
    transform: rotate(-45deg) translate(-15vw, 30vh);

    /* Liquid Glass */
    background: hsla(0, 100%, 100%, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(3px) saturate(180%);
    -webkit-backdrop-filter: blur(3px) saturate(180%);
    box-shadow:
        0 10px 40px rgba(0, 0, 0, 0),
        inset 0 2px 4px rgba(255, 255, 255, 0.3);
}

.header__socials a {
    width: 1.8rem;
    aspect-ratio: 1/1;
    background: rgba(0, 0, 0, 0.1);
    color: white;
    display: grid;
    place-items: center;
    border-radius: var(--border-radius-3);
}

.header__socials a:hover {
    background: var(--color-primary);
    color: black;
    transform: rotate(45deg);
}

/* MEDIA QUERIES (smaller monitor) */
@media screen and (max-width: 1724px) {
    .header__profile {
        width: 15rem;
        height: 15rem;
    }

    #about,
    #roles,
    #skills {
        padding-top: 7rem;
    }
}

/* MEDIA QUERIES (iPad Pro) */
@media screen and (max-width: 1024px) {
    .header__socials {
        display: none;
    }
}

/* MEDIA QUERIES (Surface Pro 7) */
@media screen and (max-width: 912px) {
}

/* MEDIA QUERIES (iPad Air) */
@media screen and (max-width: 820px) {
}

/* MEDIA QUERIES (tablets) */
@media screen and (max-width: 600px) {
    .header__profile {
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 12rem;
        height: 12rem;
    }

    .header__container {
        top: -5rem;
    }

    .header__container p {
        width: 100%;
    }

    .header__cta {
        gap: 1rem;
    }

    .header__socials {
        display: none;
    }

    .header__title {
        width: 17rem;
    }

    .btn.sm.header__title {
        width: 12rem;
        border: none;
        background: transparent;
    }
}

/* MEDIA QUERIES (iPhone 14 Pro Max) */
@media screen and (max-width: 430px) {
    .h2-typed-div {
        padding-top: 1rem;
        padding-top: 0.8rem;
    }
}

/* MEDIA QUERIES (iPhone XR) */
@media screen and (max-width: 414px) {
}

/* MEDIA QUERIES (Samsung Galaxy S20 Ultra & Pixel 7) */
@media screen and (max-width: 412px) {
}

@media screen and (max-width: 400px) {
}

/* MEDIA QUERIES (iPhone 12 Pro) */
@media screen and (max-width: 390px) {
}

/* MEDIA QUERIES (iPhone SE) */
@media screen and (max-width: 375px) {
}

/* MEDIA QUERIES (Samsung Galaxy S8+) */
@media screen and (max-width: 360px) {
}

/* MEDIA QUERIES (Galaxy Z Fold 5) */
@media screen and (max-width: 344px) {
}
