header {
    margin-top: 5rem;
    height: calc(100vh - 5rem);
    display: grid;
    place-items: center;
    background: var(--color-white);
    background-size: cover;
    background-image: url("/src/assets/IMG_5847.jpg");
    background-color: rgba(208, 231, 76, 0.6);
    transition: var(--transition);
}

.header__title {
    flex-direction: column;
    gap: 1rem;
}

.header__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.header__profile {
    width: 18rem;
    height: 18rem;
    border: 1px solid black;
    border-radius: 9rem 9rem 9rem 9rem;
    overflow: hidden;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    z-index: 2;
    transition: var(--transition);

    &:hover {
        border: 0rem solid var(--color-black);
        border-radius: 50%;
        animation: spectrum-spin 2s linear infinite;
    }
}

@keyframes spectrum-spin {
    0% {
        filter: hue-rotate(0deg);
    }
    25% {
        filter: hue-rotate(90deg);
    }
    50% {
        filter: hue-rotate(180deg);
    }
    75% {
        filter: hue-rotate(270deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

div.header__profile img {
    transition: all 10s;
}

.btn.sm.header__title {
    width: 20rem;
    border: none;
    background: transparent;
}

.btn.sm.header__title:hover {
    transform: translateY(-0.5rem);
}

/* .header__profile{
    animation: header-title-spin infinite 20s linear;
}

@keyframes header-title-spin{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} */

.btn.skill_badge {
    width: 150px;
    height: 150px;
    background-color: transparent;
    border: none;
    display: inline-block;
    margin-top: 1.5rem;
    padding: none;
}

.btn.skill_badge:hover {
    transform: translateY(-0.5rem);
}

.header__container p {
    width: 35rem;
    text-align: center;
    margin: 0.6rem 0 2rem;
}

.header__cta {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.streak {
    position: absolute;
    background: hsl(var(--primary-hue), 0%, 100%);
    width: 170vw;
    height: 50vh;
    mix-blend-mode: difference;
    top: 300px;
    rotate: 45deg;
}

.up-ticker span {
    font-family: Marathon;
    color: var(--color-primary);
}

.down-ticker span {
    font-family: Marathon;
}

.up-ticker-wrap {
    position: absolute;
    white-space: nowrap;
    width: 100vw;
    height: 160vh;
    top: -48%;
    left: -50%;
    pointer-events: none;
}

.up-ticker {
    letter-spacing: 2;
    opacity: 0.8;
    font-size: 25px;
    font-weight: 300;
    mix-blend-mode: difference;
    top: -20%;
    animation: up-tick 60s linear infinite;
}

@keyframes up-tick {
    from {
        transform: rotate(45deg) translateX(150%);
    }
    to {
        transform: rotate(45deg) translateX(-50%);
    }
}

.down-ticker-wrap {
    position: absolute;
    white-space: nowrap;
    width: 100vw;
    height: 160vh;
    top: 55%;
    left: -50%;
    pointer-events: none;
}

.down-ticker {
    letter-spacing: 2;
    opacity: 0.8;
    font-size: 25px;
    font-weight: 300;
    mix-blend-mode: difference;
    animation: down-tick 60s linear infinite;
}

@keyframes down-tick {
    from {
        transform: rotate(45deg) translateX(-60%);
    }
    to {
        transform: rotate(45deg) translateX(150%);
    }
}

.header__socials {
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 50px;
    background: hsla(0, 100%, 100%, 0.1);
    mix-blend-mode: difference;
    padding: 2rem 1rem;
    gap: 1rem;
    transform: rotate(-45deg) translate(-250px, 300px);
}

.header__socials a {
    width: 1.8rem;
    aspect-ratio: 1/1;
    background: var(--color-light);
    color: var(--color-black);
    display: grid;
    place-items: center;
    border-radius: var(--border-radius-3);
}

.header__socials a:hover {
    background: var(--color-primary);
    color: hsla(var(--color-white), 100%, 100%, 1);
    transform: rotate(45deg);
}

/* MEDIA QUERIES (smaller monitor) */
@media screen and (max-width: 1724px) {
    .username {
        transform: rotate(45deg) translate(-300px, 300px);
    }

    .up-ticker-wrap {
        position: absolute;
        white-space: nowrap;
        width: 100vw;
        height: 160vh;
        top: -27%;
        left: -50%;
        pointer-events: none;
    }

    .down-ticker-wrap {
        position: absolute;
        white-space: nowrap;
        width: 100vw;
        height: 160vh;
        top: 57%;
        left: -50%;
        pointer-events: none;
    }
}

/* MEDIA QUERIES (tablets) */
@media screen and (max-width: 1024px) {
    header {
        margin-top: 0;
        height: 100vh;
    }
}

/* MEDIA QUERIES (tablets) */
@media screen and (max-width: 600px) {
    .header__profile {
        margin-top: 7rem;
        margin-bottom: 1rem;
        width: 12rem;
        height: 12rem;
    }

    .header__container p {
        width: 100%;
    }

    .header__cta {
        gap: 1rem;
    }

    .streak {
        position: absolute;
        background: hsl(var(--primary-hue), 0%, 100%);
        width: 10000px;
        height: 47vh;
        mix-blend-mode: difference;
        top: 300px;
        rotate: 45deg;
    }

    .header__socials {
        display: none;
    }

    .username {
        display: none;
    }

    .btn.skill_badge {
        margin: 0;
        width: 99px;
        height: 100px;
    }

    .header__title {
        width: 17rem;
    }

    .btn.sm.header__title {
        width: 12rem;
        border: none;
        background: transparent;
    }
}

@media screen and (max-width: 400px) {
    .header__profile {
        margin-top: 7rem;
        margin-bottom: 1rem;
    }

    .btn.skill_badge {
        margin: 0;
        width: 100px;
    }

    .username {
        display: none;
    }
}
