.card {
    background: var(--color-white);
    padding: 1.5rem;
    border: 2px solid transparent;
    border-radius: var(--border-radius-1);
    transition: var(--transition);
    z-index: 1;
}

.card:hover {
    background: transparent;
    border-color: var(--color-white);
    transform: translateY(-0.5rem);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.45);
}

.card.light {
    background: var(--color-light);
}

.card.light:hover {
    background: transparent;
    border-color: var(--color-light);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.45);
}

/* MEDIA QUERIES (phones) */
@media screen and (max-width: 600px) {
    .card {
        padding: 1.2rem;
    }
}
