.card {
    background: var(--color-white);
    padding: 1.5rem;
    border: 2px solid transparent;
    border-radius: var(--border-radius-1);
    transition: var(--transition);
    z-index: 1;

    /* Liquid Glass */
        border: 1px solid rgba(255, 255, 255, 0.1);
        box-shadow:
            0 10px 40px rgba(0, 0, 0, 0),
            inset 0 2px 4px rgba(255, 255, 255, 0.3);
}

.card:hover {
    background: transparent;
    border-color: var(--color-white);
    transform: translateY(-0.5rem);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.45);
}

.card.light {
    background: var(--color-light);

    /* Liquid Glass */
        border: 1px solid rgba(255, 255, 255, 0.1);
        box-shadow:
            0 10px 40px rgba(0, 0, 0, 0.1),
            inset 0 2px 4px rgba(255, 255, 255, 0.2);
}

.card.light:hover {
    background: transparent;
    border-color: var(--color-light);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.45);
}

/* MEDIA QUERIES (phones) */
@media screen and (max-width: 600px) {
    .card {
        padding: 1.2rem;
    }
}
