#skills .h2 {
    padding-top: 3rem;
}

.skills__container {
    display: grid;
    grid-template-columns: 100%;
    gap: 12%;
}

.skills__cards {
    margin: 1rem 0 1.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.card.skills__card {
    text-align: center;
    opacity: 0.85;
    color: white;

    &:hover {
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.45);
        mix-blend-mode: difference;
        border-color: var(--color-light);
    }
}

.skills__card-icon {
    font-size: 1.3rem;
    color: var(--color-black);
    border-radius: var(--border-radius-3);
    width: fit-content;
    margin-inline: auto;
    padding: 0.6rem;
    display: flex;
    align-items: center;
    transition: var(--transition);
}

.card.skills__card:hover .skills__card-icon {
    color: black;
    background: var(--color-primary);
}

.card.skills__card:hover h5 {
    color: white;
    mix-blend-mode: difference;
}

/* MEDIA QUERIES (tablets) */
@media screen and (max-width: 1024px) {
    .skills__left {
        display: none;
    }

    .skills__container {
        grid-template-columns: 1fr;
    }

    .skills__right h2 {
        text-align: center;
    }

    .skills__right .btn {
        margin-left: auto;
        margin-right: auto;
    }
}

/* MEDIA QUERIES (phones) */
@media screen and (max-width: 600px) {
    .skills__cards {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .skills__right .btn {
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto;
    }

    h2.marathon {
        font-size: 3rem;
    }
}
